%p
  %strong= t('activerecord.attributes.competence.title')
  = @competence.title

%p
  %strong= t('activerecord.attributes.competence.description')
  = @competence.description

- unless current_user.learning? @competence
  %p= link_to t('helpers.actions.learn'), learn_competence_path(@competence), remote: true, method: :patch, class: 'btn btn-info pull-right btn__learn'

= render partial: 'terms/terms', locals: { terms: @competence.terms, competence: @competence }

= link_to t('helpers.actions.edit'), edit_competence_path(@competence) |
= link_to t('helpers.actions.back'), competences_path

= render partial: 'comments/form', locals: { parent: @competence }
= render partial: 'comments/comment', collection: @competence.comments

