.nav.navbar.navbar-default
  .ul.navbar-nav.nav.pull-right
    %li= link_to 'Компетенции', competences_path
    - if user_signed_in?
      %li= link_to "Пользователи", users_path if policy(:user).index?
      %li.dropdown
        = link_to content_tag(:span, 'Пользователь') + content_tag(:span, '', class: 'caret'),
                '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }
        %ul.dropdown-menu{'data-toggle': '#drop-down'}
          %li= link_to 'Профиль', current_user
          %li.divider
          %li= link_to 'Выйти', destroy_user_session_path, method: :delete
    - else
      %li= link_to 'Войти', new_user_session_path