!!!
%html
  %head
    - content_for(:title, "Прокачиваем компетенции")
    %title= "ПрофПорт-Образование | #{yield(:title)}"

    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/header'
    = render 'layouts/top_menu'
    = render 'layouts/sub_header'
    = render 'layouts/flashes'
    = render 'layouts/main_container'
    = render 'layouts/footer'
